
table {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em;

  border-collapse: collapse;
}
table th,
table td {
  border-bottom: 1px solid #ddd;
}
table td {
  max-width: 0;
  padding: 0 10px;
}
table td,
table td * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tr.table-grouping-title th,
table tr.table-grouping-title td {
  background-color: #eee;
}
